/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
.text-primary{
    color: #fd6e0a;
}
.menu-content{
    display: flex;
    justify-content: space-around;
    font-family: 'Open Sans', sans-serif;
    
}
.logo h3{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
.menu > ul{
    display: flex;
}
.menu li{
    list-style: none;
    margin-right: 51px;
}
.menu a{
    text-decoration: none;

}