/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
body{
    font-family: 'Open Sans', sans-serif;

}
.text-primary{
    color: #fd6e0a;
}
/* Navbar related styles */
.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
    
}
.logo h3{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
.menu > ul{
    display: flex;
    align-items: center;
}
.menu li{
    list-style: none;
    margin-right: 51px;
}
.menu a{
    text-decoration: none;
    color: #474747;

}
.btn-primary{
    border-radius: 5px;
    background-color: #fd6e0a;
    border: none;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
}
.btn-primary > a{
    color:aliceblue;
    text-decoration: none;

}

/* banner related styles */

header{
    background-color: #fff8f3;
    background-image: url('images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 0px 0px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.banner-content{
    max-width: 500px;
}
.profile-pic{
    width: 500px;
}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;

}
.banner-description{
    margin-bottom: 30px;
}

/* main section styles */

/* about section styles */
.about{
    background-color: #fff8f3;
    border-radius: 10px ;
    padding: 130px;
    margin: 130px 0px;
    text-align: center;

}
.section-title{
    font-size: 35px;
    font-weight: 700;
}
.section-description{
    color:#757575;
    font-size: 18px;
}
